.logo-wrapper{
	padding: 2px 10px;
}
.logo-dimensions{
	height: 45px;
	width: 45px;
}
footer {
	border-top:1px solid #e8e8e8;
}

.panel-title > a {
	display: block;
}
.panel-title > a > img {
	display: block;
	margin: 0 auto;
}
.panel-body hr {
	border-top: 2px solid #d8d8d8;
}
.table > thead > tr > th, .table > tbody > tr > td {
	text-align: center
}
.table > tbody > tr > .hearth-class-td{
	vertical-align: middle;
}
